

<!-- <%#= @trip.city_name %> -->
<!-- <%#= @trip.all %> -->

<div class="container">
<div class="row row-cols-1 row-cols-md-3">
  <% @trip.each do |trip| %>
      <div class="col-md-4">
        <div class="card h-100">
          <%= image_tag(trip.main_image,  size: "300x250") if trip.main_image.attached? %>
          <div class="card-img-overlay">
          <h5 class="card-title"><%= link_to trip.trip_name, trip %></h5>
        </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
          </div>
        </div>
      </div>
  <% end %>
</div>
</div>
<%= @trip.city_name %>