<table>
  <tr>
    <th>Trip List</th>
    <th>Add new Trip Here</th>
    <th>Add Destination</th>
  </tr>
  <tr> 
    <td>
      <% @trip.each do |trip| %><br> 
      <%= link_to trip.trip_name, trip %>
      <% end %> 
    </td> 
    <td><%= link_to "Add Trip", new_trip_path %><br> 
</td>
<td><%= link_to "Show All Destination", destinations_path %></td> 
</tr>
</table> 