<% if current_user.bookings.count == 0 %>
<p>You have no booking yet</p>
<% else %>
<table>
  <tr>
    <th>Booking Token</th>
    <th>Trip Name</th>
    <th>Trip Amount</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
    <% current_user.bookings.each do |booking| %>
  <tr>
    <td><%= booking.booking_token %></td>
    <td><%= booking.trip.trip_name %></td>
    <td><%= booking.trip.amount %></td>
    <td><%= booking.trip.start_date %></td>
    <td><% c =  booking.trip.end_date %></td>
  </tr>
    <% end %>
 </table>
<% end %>



 