<!-- <div class="row row-cols-1 row-cols-md-3">
  <#% @trip.each do |trip| %>
      <div class="col-md-4">
        <div class="card h-100">
          <#%= image_tag(trip.main_image,  size: "300x250") if trip.main_image.attached? %>
          <div class="card-img-overlay">
          <h5 class="card-title"><#%= link_to trip.trip_name, trip %></h5>
        </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
          </div>
        </div>
      </div>
  <#% end %>
</div> --> -->
<!-- <#%= link_to 'You can see Your booking here', root_path%> -->

<!-- <h1>Hello</h1> -->
<!-- <#% if @user.last.bookings.any? %> -->
<!-- <#% @user.present? %> -->
  <!-- <h1>Hello</h1> -->
  <!-- <@% else %> -->
  <!-- <h2>Hii</h2> -->
  <!-- <#% end %> -->

    <h1>Hello</h1>