<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your Booking is confirmed <%= @booking.user_name %>!</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Contact Number: <%= @booking.contact_detail %></p>
    <p>Token: <%= @booking.booking_token %></p>
    <p>
    Message:<br>
    ----------
    </p>
   
  </body>