<table>
  <tr>
    <th>Destination List</th>
  </tr>
  <tr>
    <td>
        <% @destination.each do |x| %><br>
      <%= link_to x.city_name, x %>
      <% end %>
    </td>
  </tr>
</table>

<br>

<table style="width:100%">
<tr>
<th>Add new Trip Here</th>
<tr>
<td><%= link_to "Show Trip", trips_path %><br>
</td>
<td><%= link_to "Add Destination", new_destination_path %><br>
</td>
</table>