.navbar-nav  li{
  margin-left:30px;
  margin-right:30px;
}
.navbar-light {
  background-color: skyblue !important;
  border: none !important;
  border-width:0!important;
}
nav .navbar-nav li a{
  color: black !important;
  }
  img.card-img-top{
    border: 15px solid rgb(149, 226, 149);
  }
  .card{
    border: green;
  }
  .border{
    margin-top: 5%;
    margin-bottom: 5%;
  }  
 .card{
  border: green;
  } 

table, th, td {
  border:1px solid black;
}
th, td {
  padding: 15px;
}  
.row .col{
  float: left;
}