.navbar-nav  li{
  margin-left:30px;
  margin-right:30px;
}
.navbar-light {
  background-color: black !important;
  border: none !important;
  border-width:0!important;

}
nav .navbar-nav li a{
  color: grey !important;
  }
  img.card-img-top{
    border: 15px solid rgb(149, 226, 149);
  }
  .card{
    border: green;
  }
  .border{
    margin-top: 5%;
    margin-bottom: 5%;
  }  